#stage {
    width: 800px;
    height: 800px;
     top:50%;
    left: 50%;
    transform: translate3d(-50%,-50%, 0);
    position: absolute;
    border: 10px solid grey
}

#stage img {
   width: 100%;
}