<div class="navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand navbar-brand-center" ui-sref="root.questionnaire"  align="center" >
      <h3 class="h3-logo" > <img class="navbar-brand-logo" src="img/logo.png" alt = "The Global Fund">The Global Fund</h3> 
    </a>
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    </div>
  <div class="navbar-collapse collapse" id="navbar-collapse-1" aria-expanded="false" style="height: 0px;">
    <ul class="nav navbar-nav">
      <li ui-sref-active="open active">
        <a ui-sref="root.questionnaire">
          <span class="sidenav-icon icon icon-hospital-o"></span>
          <span class="sidenav-label">Questionnaire</span>
        </a>
      </li>
      <li ui-sref-active="open active">
        <a ui-sref="root.dashboard">
          <span class="sidenav-icon icon icon-pie-chart"></span>
          <span class="sidenav-label">Dashboard</span>
        </a>
      </li>
      <li ui-sref-active="open active">
        <a ui-sref="root.contacts">
          <span class="sidenav-icon icon icon-users"></span>
          <span class="sidenav-label">Contacts</span>
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown hidden-xs">
        <li class="dropdown hidden-xs">
          <button class="navbar-account-btn" style="height: 50px;" onclick="location.href = '#!/login';">
            <span class="sidenav-icon icon icon-user"></span>		
              Administration
          </button>
        </li>
        <li class="visible-xs-block">
          <a href="#">
            <span class="icon icon-user icon-lg icon-fw"></span>							
              Administration
          </a>
        </li>
    </ul>
  </div>
</div>