<div class="layout-sidebar-backdrop">
  <div class="layout-sidebar-body">
    <h4>
      <br> </h4>

    <nav class="sidenav-collapse collapse" uib-collapse="app.sidebar.xs.isCollapsed">
      <div class="panel-body" ng-hide="app.sidebar.isFixed">
        <div class="row hidden-xs">
          <div class="text-center">
            <!-- <a ui-sref="root.questionnaire">
            </a> -->
            <h5 ng-show="!app.sidebar.isCollapsed"><strong>Fight AIDS, TB and Malaria</strong></h5>
          </div>
        </div>
      </div>
      <ul class="sidenav" side-navigation ng-class="{'sidenav-collapsed': app.sidebar.isCollapsed}">
        <li class="sidenav-item" ui-sref-active="open active">
          <a ui-sref="root.questionnaire">
            <span class="sidenav-icon icon icon-hospital-o"></span>
            <span class="sidenav-label">Questionnaire</span>
          </a>
        </li>
        <li class="sidenav-item" ui-sref-active="open active">
          <a ui-sref="root.dashboard">
            <span class="sidenav-icon icon icon-pie-chart"></span>
            <span class="sidenav-label">Dashboard</span>
          </a>
        </li>
        <li class="sidenav-item" ui-sref-active="open active">
          <a ui-sref="root.contacts">
            <span class="sidenav-icon icon icon-users"></span>
            <span class="sidenav-label">Contacts</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>