<div class="layout-sidebar-backdrop"></div>
<div class="layout-sidebar-body">
  <div class="custom-scrollbar" ng-hide="app.sidebar.isFixed">
    <nav class="sidenav-collapse collapse" uib-collapse="app.sidebar.xs.isCollapsed">
      <ul class="sidenav" side-navigation ng-class="{'sidenav-collapsed': app.sidebar.isCollapsed}">
        <li class="sidenav-item" ui-sref-active="open active">
          <a ui-sref="root.dashboard">
            <span class="sidenav-icon icon icon-pie-chart"></span>
            <span class="sidenav-label">{{"Dashboard" | translate}}</span>
          </a>
        </li>
        <li class="sidenav-item" ui-sref-active="open active">
          <a ui-sref="root.datatable">
            <span class="sidenav-icon icon icon-hospital-o"></span>
            <span class="sidenav-label">{{'Medical_Institutions'| translate}}</span>
          </a>
        </li>
        <li class="sidenav-item" ui-sref-active="open active">
          <a ui-sref="root.map({areaId: 0})">
            <span class="sidenav-icon icon icon-flag "></span>
            <span class="sidenav-label">{{"Map" | translate}}</span>
          </a>
        </li>
        <li class="sidenav-item" ui-sref-active="open active">
          <a ui-sref="root.contacts">
            <span class="sidenav-icon icon icon-users"></span>
            <span class="sidenav-label">Contacts</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>