<div class="error">
  <div class="error-body">
    <h1 class="error-heading">Server Error</h1>
    <h4 class="error-subheading">Looks like something went wrong!</h4>
    <p><small>We track these errors automatically, but if the problem persists feel free to <a href="#">contact us</a>.</small></p>
    <p><a class="btn btn-primary btn-pill btn-thick" ui-sref="root.dashboard">Return to homepage</a></p>
  </div>
  <div class="error-footer">
    <p><small>© 2016 Elephant, LLC</small></p>
  </div>
</div>