<div class="layout-content-body">
  <div class="title-bar">
    <h1 class="title-bar-title">
      <span class="d-ib">Contacts</span>
    </h1>
  </div>
  <div class="row utter-xs">
    <div class="col-xs-12">
      <div class="card">
        <div class="card-body">
          <div class="col-xs-12 col-md-4">
            <div class="media">
              <div class="media-left">
                <span class="icon icon-bank bg-primary circle sq-28"></span>
              </div>
              <div class="media-middle media-body">
                <h3 class="media-heading">Head Office</h3>
              </div>
              <div class="card-body">
                <h4>Ministry of Health,</h4>
                <p>P.O. Box 30377,</p>
                <p>Lilongwe 3, MALAWI </p>
                <p>Phone:
                  <b>+265 1 789 400 </b>
                </p>
                <p>Fax:
                  <b> +265 1 789 534 / 1 789 536</b>
                  <p>
                    <a href="http://www.health.gov.mw" target="_blank">www.health.gov.mw</a>
                  </p>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-8">
            <iframe width="100%" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=33.784729242324836%2C-13.9491344807431%2C33.79294753074647%2C-13.942814040708765&amp;layer=mapnik&amp;marker=-13.945974282368342%2C33.788838386535645"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row gutter-xs">
    <div class="col-xs-12 col-md-12">
      <div class="card">
        <div class="card-header no-border">

          <div class="col-xs-12 col-md-3">

            <div class="media">
              <div class="media-middle media-left">
                <span class="icon icon-bank bg-primary circle sq-28"></span>
              </div>
              <div class="media-middle media-body">
                <h4>Northern Zone</h4>
              </div>
            </div>


          </div>
          <div class="col-xs-12 col-md-3">

            <div class="media">
              <div class="media-middle media-body">
                <h5>
                  <b>Northern Zone Manager,
                    <br>Dr. Owen Musopole</b>
                </h5>
              </div>
            </div>

          </div>
          <div class="col-xs-12 col-md-3">
            <p>NZHO, Private Bag 1,
              <br>Mzuzu, MALAWI</p>
              <a>
                  <a href="mailto:owenmm2002@yahoo.com">owenmm2002@yahoo.com</a>
                </a>
          </div>
          <div class="col-xs-12 col-md-3">
            <p>Phone:
              <b>+265 1 312 911,</b>
            </p>
            <p>Fax:
              <b> +265 1 310 055</b>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row gutter-xs">
    <div class="col-xs-12 col-md-12">
      <div class="card">
        <div class="card-header no-border">

          <div class="col-xs-12 col-md-3">

            <div class="media">
              <div class="media-middle media-left">
                <span class="icon icon-bank bg-primary circle sq-28"></span>
              </div>
              <div class="media-middle media-body">
                <h4>Central East Zone</h4>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-3">
            <div class="media">
              <div class="media-middle media-body">
                <h5>
                  <b>Central East Zone Manager,
                    <br>Dr. Jane Namasasu</b>
                </h5>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-3">
            <a>
              <a href="mailto:jnamasasu@yahoo.com">jnamasasu@yahoo.com</a>
            </a>
            <p>
              <br>
            </p>
          </div>
          <div class="col-xs-12 col-md-3">
            <p>
              <b></b>
            </p>
            <p>
              <b></b>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row gutter-xs">
    <div class="col-xs-12 col-md-12">
      <div class="card">
        <div class="card-header no-border">

          <div class="col-xs-12 col-md-3">

            <div class="media">
              <div class="media-middle media-left">
                <span class="icon icon-bank bg-primary circle sq-28"></span>
              </div>
              <div class="media-middle media-body">
                <h4>Central West Zone</h4>
              </div>
            </div>


          </div>
          <div class="col-xs-12 col-md-3">

            <div class="media">
              <div class="media-middle media-body">
                <h5>
                  <b>Central West  Zone Manager,
                    <br>Dr. E. Chitsa Banda</b>
                </h5>
              </div>
            </div>

          </div>
          <div class="col-xs-12 col-md-3">
            <a>
              <a href="mailto:chitsabandaeve@yahoo.com">chitsabandaeve@yahoo.com</a>
            </a>
            <p>
              <br></p>
          </div>
          <div class="col-xs-12 col-md-3">
            <p>
              <b></b>
            </p>
            <p>
              <b></b>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row gutter-xs">
    <div class="col-xs-12 col-md-12">
      <div class="card">
        <div class="card-header no-border">

          <div class="col-xs-12 col-md-3">

            <div class="media">
              <div class="media-middle media-left">
                <span class="icon icon-bank bg-primary circle sq-28"></span>
              </div>
              <div class="media-middle media-body">
                <h4>South East Zone</h4>
              </div>
            </div>


          </div>
          <div class="col-xs-12 col-md-3">

            <div class="media">
              <div class="media-middle media-body">
                <h5>
                  <b>South East Zone Manager,
                    <br>McDonald Msadala</b>
                </h5>
              </div>
            </div>

          </div>
          <div class="col-xs-12 col-md-3">
            <a>
              <a href="mailto:msadalamw@gmail.com">msadalamw@gmail.com</a>
            </a>
            <p>
              <br></p>
          </div>
          <div class="col-xs-12 col-md-3">
            <p>Phone:
              <b>+265 1 525 811</b>
            </p>
            <p>
              <b></b>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row gutter-xs">
    <div class="col-xs-12 col-md-12">
      <div class="card">
        <div class="card-header no-border">

          <div class="col-xs-12 col-md-3">

            <div class="media">
              <div class="media-middle media-left">
                <span class="icon icon-bank bg-primary circle sq-28"></span>
              </div>
              <div class="media-middle media-body">
                <h4>South West Zone</h4>
              </div>
            </div>


          </div>
          <div class="col-xs-12 col-md-3">

            <div class="media">
              <div class="media-middle media-body">
                <h5>
                  <b>South West  Zone Manager,
                    <br>Dr Malangizi Mbewe</b>
                </h5>
              </div>
            </div>

          </div>
          <div class="col-xs-12 col-md-3">
            <a>
              <a href="mailto:malangizombewe@yahoo.com">malangizombewe@yahoo.com</a>
            </a>
            <p>
              <br></p>
          </div>
          <div class="col-xs-12 col-md-3">
            <p>Phone:
              <b>+265 1 878 409</b>
            </p>
            <p>
              <b></b>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
</div>