<div class="layout-content-body">
  <div class="title-bar">
    <h1 class="title-bar-title">
      <span class="d-ib">Contacts</span>
    </h1>

  </div>
  <!-- /.title-bar -->
  <!-- ******CONTACT MAIN****** -->

  <div class="row gutter-xs">
    <div class="col-xs-12">
      <div class="card">
        <div class="card-body">
          <div class="col-xs-12 col-md-4">
            <div class="media">
              <div class="media-left">
                <span class="icon icon-bank bg-primary circle sq-28"></span>
              </div>
              <div class="media-middle media-body">
                <h3 class="media-heading">Head Office</h3>
              </div>
              <div class="card-body">
                <h4>Ministry of Health,</h4>
                <p>P.O. Box 30377,</p>
                <p>Lilongwe 3, MALAWI </p>
                <p>Telephone:
                  <b>+265 1 789 400 </b>
                </p>
                <p>Fax:
                  <b> +265 1 789 534 / 1 789 536</b>
                  <p>
                    <a href="http://www.health.gov.mw" target="_blank">www.health.gov.mw</a>
                  </p>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-8">
            <iframe width="100%" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=33.784729242324836%2C-13.9491344807431%2C33.79294753074647%2C-13.942814040708765&amp;layer=mapnik&amp;marker=-13.945974282368342%2C33.788838386535645"></iframe>
            <br/>
            <small>
              <a href="http://www.openstreetmap.org/?mlat=-13.94597&amp;mlon=33.78884#map=17/-13.94597/33.78884">View larger map</a>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  -->


  
  <div class="row gutter-xs">
     
    <div class="col-md-4">
      <div class="card" style="height: 30rem;">
        <div class="card-body">
          <div class="media">
            <div class="media-left">
              <span class="icon icon-bank bg-primary circle sq-28"></span>
            </div>
            <div class="media-middle media-body">
              <h3 class="media-heading">Northern Zone</h3>
            </div>
            <div class="card-body">
              <h4>Northern Zone Manager,
                <br>Dr. Owen Musopole</h4>
                <p><a href="mailto:owenmm2002@yahoo.com">owenmm2002@yahoo.com</a></p>
              <p>NZHO, Private Bag 1,</p>
              <p>Mzuzu, MALAWI</p>
              <p>Phone: 
                <b>+265 1 312 911,</b>
              </p>
              <p>Fax:
                <b> +265 1 310 055</b>
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="height: 30rem;">
        <div class="card-body" >
          <div class="media">
            <div class="media-left">
              <span class="icon icon-bank bg-primary circle sq-28"></span>
            </div>
            <div class="media-middle media-body">
              <h3 class="media-heading">Central East Zone</h3>
            </div>
            <div class="card-body">
              <h4>Central East Zone Manager,
                <br>Dr. Jane Namasasu</h4>
                <p><a href="mailto:jnamasasu@yahoo.com">jnamasasu@yahoo.com</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="height: 30rem;">
        <div class="card-body">
          <div class="media">
            <div class="media-left">
              <span class="icon icon-bank bg-primary circle sq-28"></span>
            </div>
            <div class="media-middle media-body">
              <h3 class="media-heading">Central West Zone</h3>
            </div>
            <div class="card-body">
              <h4>Central West  Zone Manager,
                <br>Dr. E. Chitsa Banda</h4>
                <p><a href="mailto:chitsabandaeve@yahoo.com">chitsabandaeve@yahoo.com</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <!--  -->
  <div class="row gutter-xs">
    <div class="col-xs-6 col-md-3 col-md-offset-3">
      <div class="card">
        <div class="card-body">
          <div class="media">
            <div class="media-left">
              <span class="icon icon-bank bg-primary circle sq-28"></span>
            </div>
            <div class="media-middle media-body">
              <h3 class="media-heading">South East Zone</h3>
            </div>
            <div class="card-body">
              <h4>South East Zone Manager,
                <br>McDonald Msadala</h4>
                <p><a href="mailto:msadalamw@gmail.com">owenmm2002@yahoo.com</a></p>
              <p>Phone: 
                <b>+265 1 525 811</b>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="card">
        <div class="card-body">
          <div class="media">
            <div class="media-left">
              <span class="icon icon-bank bg-primary circle sq-28"></span>
            </div>
            <div class="media-middle media-body">
              <h3 class="media-heading">South West Zone</h3>
            </div>
            <div class="card-body">
              <h4>South West  Zone Manager,
                <br>Dr Malangizi Mbewe</h4>
                <p><a href="mailto:malangizombewe@yahoo.com">malangizombewe@yahoo.com</a></p>
                <p>Phone: 
                    <b>+265 1 878 409</b>
                  </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--  -->
</div>
<!-- /.layout-content-body -->