<div class="layout-content-body">
  <div class="title-bar">
    <h1 class="title-bar-title">
      <span class="d-ib">Medical Institutions<small> data table</small></span>
    </h1>
    <p class="title-bar-description">
      <small>The best-known type of hospital is the general hospital.</small>
    </p>
  </div><!-- /.title-bar -->
  <div class="row gutter-xs">
    <div class="col-xs-12">
      <div class="card">
        <div class="card-body">
          <table datatable class="table table-hover table-striped table-nowrap dataTable" dt-columns="dt.columns" dt-options="dt.options" cellspacing="0" width="100%">
          </table>
        </div>
      </div>
    </div>
  </div>
</div><!-- /.layout-content-body -->