<div class="layout-content-body">
  <div class="title-bar">
    <h1 class="title-bar-title">
      <span class="d-ib">Questionnaire: {{country}} | {{type}} | {{disease}} | {{year}}</span>
    </h1>
  </div>
  <div class="row gutter-xs">
    <div ng-class="mode == 1 ? 'col-md-8 col-xs-12' : 'col-md-9 col-xs-12'">
      <div class="card">
        <div class="card-body">
          <div class="col-md-12">
            <div class="row gutter-xs">
              <div class="col-md-6">
                <h5>Continent</h5>
                <select class="form-control" ng-disabled="isPendinggData" ng-model="selectedContinent" ng-options="item.name for item in continents track by item.name"
                  value="{{selectedContinent.name}}"></select>
              </div>
              <div class="col-md-6">
                <h5>Country</h5>
                <select class="form-control" ng-disabled="isPendinggData" ng-model="selectedCountry" ng-options="item.name for item in countries track by item.name" value="{{selectedCountry.name}}"></select>
              </div>
              <div class="col-md-4">
                <h5>HFA Type</h5>
                <select class="form-control" ng-disabled="isPendinggData" ng-model="selectedHFAType" ng-options="item.name for item in hfaTypes track by item.name" value="{{selectedHFAType.name}}"></select>
              </div>
              <div class="col-md-4">
                <h5>Disease</h5>
                <select class="form-control" ng-disabled="isPendinggData" ng-model="selectedDisease" ng-options="item for item in diseases" value="{{selectedDisease}}"></select>
              </div>
              <div class="col-md-2">
                <h5>Year</h5>
                <select class="form-control"  ng-disabled="isPendinggData" ng-model="selectedYear" ng-options="item for item in years" value="{{selectedYear}}"></select>
              </div>
              <div class="col-md-2">
                <h5>
                  <br>
                </h5>
                <button class="btn btn-primary btn-block pull-right" ng-click="applyForm()" ng-disabled="isPendinggData">Apply</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-class="mode == 1 ? 'col-md-4 col-xs-12' : 'col-md-3 col-xs-12'">
      <div class="card">
        <div class="card-body">
          <div class="col-md-12">
            <div class="row gutter-xs">
              <div class="col-md-6" ng-show="mode == 1">
                <h5>Import from
                  <b>XLSX</b>
                </h5>
                <label class="btn btn-primary btn-block file-upload-btn" ng-disabled="isPendinggData">
                    Upload HFA data
                    <input  id="fileInput"  class="file-upload-input" type="file"  accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" onchange="angular.element(this).scope().uploadChange()" multiple="multiple" title=" "/>
                  </label>
              </div>
              <div ng-class="mode == 1 ? 'col-md-6' : 'col-md-12'">
                <h5>Export to
                  <b>XLSX</b>
                </h5>
                <button class="btn btn-primary btn-block" ng-click="generateBlob()" ng-disabled="isPendinggData">Download HFA data</button>
              </div>
              <div class="col-md-6" ng-show="mode == 1">
                <h5>
                  <h5>Status:</h5>
                </h5>
                <h4>{{statusText}}</h4>
              </div>
              <div class="col-md-6" ng-show="mode == 1">
                <h5>
                  <br>
                </h5>
                <button id="sendBtn" class="btn btn-primary pull-right btn-block" ng-click="sendData()" ng-disabled="!isSendingDataEnable">Save HFA data</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row gutter-xs">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div ng-show="disease == 'HIV'">
            <table id="tableHIV" datatable class="table table-bordered table-hover dataTable no-footer" dt-columns="dTable.HIV.columns"
            dt-instance="dTable.HIV.dtInstance" dt-options="dTable.HIV.options">
            <thead>
              <tr>
                <th class="text-center align-middle" ng-repeat="headerL0 in headers.HIVL0" rowspan="{{headerL0.rowspan}}" colspan="{{headerL0.colspan}}">{{headerL0.name}}</th>
              </tr>
              <tr>
                <th class="text-center align-middle" ng-repeat="header in headers.HIV" rowspan="{{header.rowspan}}" colspan="{{header.colspan}}">{{header.name}}</th>
              </tr>
              <tr>
                <th ng-repeat="column in columns.HIV">{{column.name}}
                  <br>[{{column.code}}]</th>
                </tr>
              </thead>
            </table>
          </div>
          <div ng-show="disease == 'TB'">
            <table id="tableHIV" datatable class="table table-bordered table-hover dataTable no-footer" dt-columns="dTable.TB.columns"
            dt-instance="dTable.TB.dtInstance" dt-options="dTable.TB.options">
            <thead>
              <tr>
                <th class="text-center align-middle" ng-repeat="header in headers.TB" rowspan="{{header.rowspan}}" colspan="{{header.colspan}}">{{header.name}}</th>
              </tr>
              <tr>
                <th ng-repeat="column in columns.TB">{{column.name}}
                  <br>[{{column.code}}]</th>
                </tr>
              </thead>
            </table>
          </div>
          <div ng-show="disease == 'Malaria'">
            <table id="tableHIV" datatable class="table table-bordered table-hover dataTable no-footer" dt-columns="dTable.Malaria.columns"
            dt-instance="dTable.Malaria.dtInstance" dt-options="dTable.Malaria.options">
            <thead>
              <tr>
                <th class="text-center align-middle" ng-repeat="header in headers.Malaria" rowspan="{{header.rowspan}}" colspan="{{header.colspan}}">{{header.name}}</th>
              </tr>
              <tr>
                <th ng-repeat="column in columns.Malaria">{{column.name}}
                  <br>[{{column.code}}]</th>
                </tr>
              </thead>
            </table>
          </div>
              <div class="panel panel-body text-center" ng-show="isPendinggData" data-toggle="match-height" style="height: 136px;">
                <div class="spinner spinner-primary spinner-lg pos-r sq-100"></div>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>