<div class="layout-content-body">
  <div class="title-bar">
    <h1 class="title-bar-title">
      <span class="d-ib">Map Page</span>
      <span class="d-ib">
        <a class="title-bar-shortcut" href="#" title="Add to shortcut list" data-container="body" data-toggle-text="Remove from shortcut list" data-trigger="hover" data-placement="right" data-toggle="tooltip">
          <span class="sr-only">Add to shortcut list</span>
        </a>
      </span>
    </h1>
  </div><!-- /.title-bar -->
  <div class="row gutter-xs">
    <div class="col-md-6 col-lg-6">
      <div class="card">
        <div class="card-body">
            <div id="map" style="height:750px;"></div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-6">
        <div class="card">
          <div class="card-body">
              <div class="col-md-12">
                  <h4>Country Health Statistics</h4>
                  <p>Harmful use of alcohol, defined according to the national context as alcohol per capita consumption (aged 15 years and older) within a calendar year in litres of pure alcohol.</p>
                  <p></p>
                  <p>Projected estimated consumption (litres)</p>
                  <ul class="list-unstyled">
                    <li>
                      <span class="icon icon-square icon-fw" style="color: #b2dfdb"></span>&lt; 2.5</li>
                    <li>
                      <span class="icon icon-square icon-fw" style="color: #4db6ac"></span>2.5 – 5.4</li>
                    <li>
                      <span class="icon icon-square icon-fw" style="color: #009688"></span>5.5 – 8.4</li>
                    <li>
                      <span class="icon icon-square icon-fw" style="color: #00796b"></span>8.5 – 11.9</li>
                    <li>
                      <span class="icon icon-square icon-fw" style="color: #004d40"></span>&gt; 12.0</li>
                    <li>
                      <span class="icon icon-square-o icon-fw"></span>Data not available</li>
                    <li>
                      <span class="icon icon-square-o icon-fw"></span>Not applicable</li>
                  </ul>
                  <hr>
                  <p>Source: <a href="http://www.who.int/gho/publications/en/" target="_blank">World Health Organization</a></p>
                </div>
          </div>
        </div>
      </div>
  </div>
</div><!-- /.layout-content-body -->

